a{
color:#454545;
}
a:hover{
    color:#000;
}
a:active{
    color:#454545;
}
a:visited{
    color:#454545;
}
a:link{
    color:#454545;
}


a.url{
    color:#454545;
}
abbr{
    color:#454545;
}