 .delay-1 {
animation-delay: .25s;
}
.delay-2 {
animation-delay: .5s;
}
.delay-3 {
animation-delay: .75s;
}
.delay-4 {
animation-delay: 1s;
}
 .delay-5 {
animation-delay: 1.25s;
}
.delay-6 {
animation-delay: 1.5s;
}
.delay-7 {
animation-delay: 1.75s;
}
.delay-8 {
animation-delay: 2s;
}